language: java
jdk:
- openjdk16
script:
- java --version
- "./mvnw clean install"
- "./mvnw test"
deploy:
  provider: heroku
  api_key:
    secure: GgfSIaLBiHOF4Ir/rsDyUjpwbw057rWx7EQ4ceVvHYF1pl24RWwgVdub9eSy5lFqtp4agjF6kWczno/+HHJTVEozUAYyhTbLa2oBPcx1GDVJS62LO96aWqVp5tYTaDf7rHeJxSw6F92ZjdJ+CtzqsA3wpXWyC7Ir32PajV1KeRu/N4wDYF4i9ZICIEd+t8GjGl6Rem05Q0BCUokbDMaMEZhRIYXhrub9rg2MfzZLXj/6GFSpynSjkIb7TObSzZxh9xfrDtf7k+BorQUGRWthPdgl9eZILrW1OUFARGd0ZcdDk3JE+AvNK+AEt/FkzBWUeFSJJEiRrtBdd5pv1msrUJ/9/Dfefh/iHdgKK6GGOao+bQ6p3Jp+a6DtTOO/CNoGebpKepRNs7CFgVEHGWKujRWnB4xBUY9FlV0YIpNNPosAEbTPImTHxARfeXTnyCIeZulDbPAag11Mu3OgaLEWZTuEKicg5MUfBtQ98u3X6DSVcxBKGpuiYc6rdNmzigdzZw/niHTfeFtmE0KBhG+aFWNQr3OVOAvCjtgsKLg/SN85xRLsggAZEvRbRkFolzssVlZQFGp1bYFsq76Smt9nIT1O6iRy5YBclOFiOdkMzKHrjjaYlKmFdYo25Y+HoY6zyhSxSWDAbJGIK4WOh64hO01Pcyd3S+bLUV2e+gN10K0=
  app: numberguess-game
  on:
    repo: xsun418/NumberGuessGame